#### WAYS TO CREATE A DATAFRAME

In [1]:
import pandas as pd

In [24]:
# Column approach
df = pd.DataFrame({"emp_id": [1,2], "name": ["Ram","Shyam"], "dept": ["IT", "Ops"]})
display(df)
# Row approach
df = pd.DataFrame([[1, "Ram", "IT"], [2, "Shyam", "Ops"]], columns = ["emp_id", "name", "dept"])
display(df)

   emp_id   name dept
0       1    Ram   IT
1       2  Shyam  Ops

   emp_id   name dept
0       1    Ram   IT
1       2  Shyam  Ops

#### Sort_index is used to sort the elements in a dataframe by it's index

If index contains characters then it's ASCII value is considered in the ascending order of the index

In [53]:
string = "How much wood would a woodchuck chuck if a woodchuck could chuck wood"

df = pd.DataFrame(string.split(" ")).value_counts().sort_index()
print("Character 'H' is samller than 'a' : "+str('a' > 'H'))

df.to_frame().reset_index()

Character 'H' is samller than 'a' : True

           0  count
0        How      1
1          a      2
2      chuck      2
3      could      1
4         if      1
5       much      1
6       wood      2
7  woodchuck      2
8      would      1

#### nuique()
df.nunique() returns the number of unique elements.

#### df.insert(3,"imported",imported)
* position 1 = index starting at 0
* position 2 = column_name 
* list containing exact rows as the data frame