#### WAYS TO CREATE A DATAFRAME

In [1]:
import pandas as pd

In [24]:
# Column approach
df = pd.DataFrame({"emp_id": [1,2], "name": ["Ram","Shyam"], "dept": ["IT", "Ops"]})
display(df)
# Row approach
df = pd.DataFrame([[1, "Ram", "IT"], [2, "Shyam", "Ops"]], columns = ["emp_id", "name", "dept"])
display(df)

   emp_id   name dept
0       1    Ram   IT
1       2  Shyam  Ops

   emp_id   name dept
0       1    Ram   IT
1       2  Shyam  Ops

#### Sort_index is used to sort the elements in a dataframe by it's index

If index contains characters then it's ASCII value is considered in the ascending order of the index

In [53]:
string = "How much wood would a woodchuck chuck if a woodchuck could chuck wood"

df = pd.DataFrame(string.split(" ")).value_counts().sort_index()
print("Character 'H' is samller than 'a' : "+str('a' > 'H'))

df.to_frame().reset_index()

Character 'H' is samller than 'a' : True

           0  count
0        How      1
1          a      2
2      chuck      2
3      could      1
4         if      1
5       much      1
6       wood      2
7  woodchuck      2
8      would      1

#### nuique()
df.nunique() returns the number of unique elements.

#### df.insert(3,"imported",imported)
* position 1 = index starting at 0
* position 2 = column_name 
* list containing exact rows as the data frame

#### df.loc[10:3:-1,["country","year"]] #Starts at 10 and goes back to 3 which is the first index skipping 0th index
* If we want to start printing in reverse from 10th index to 3rd index in revesrse
* if the step i.e -1 is not mentioned lower limit i.e 10 can't be before the ':'

In [7]:
import pandas as pd
df = pd.DataFrame({"date": pd.to_datetime(["2020-01-01", "2020-07-01", "2020-08-01", "2020-03-02", "2020-01-03"]),"name": ['Himanshu', 'Robert', 'Karie', 'Rohan', 'John'],"amt": [100, 200, 400, 150, 300]})

In [11]:
df.iloc[1:3,1:3]

     name  amt
1  Robert  200
2   Karie  400

In [ ]:
import pandas as pd
def add_and_remove(df, data, out):
    '''
    Input:
    df -> The dataframe passed as input
    data -> The list of list variable containg the rows to append
    out -> the variable containing the row index value to be removed
    
    Output:
    df -> return the dataframe df after doing the above operations
    '''
    
    # Add the rows 
    df1 = pd.DataFrame(data,columns=['name','age'])
    df_final = pd.concat([df,df1],axis=0,ignore_index=True) #Axis = 0 denotes  
    # Remove the out index row 
    df_final.drop(out ,axis="index",inplace = True)
    return df_final

Q10. Employee records
Solved
feature icon
Using hints is now penalty free
Use Hint
Given a data frame consisting of Name, employment_type, department, and p_id for employees,

Complete the function del_dupl() that

1. Deletes the records of a given name, where name is a string, then

2. Deletes the duplicate p_id rows and keeps only the last entry as it contains the latest employment details of the candidate

3. Deletes the column p_id as the organization is moving to another fintech app, and returns this dataframe.

There are no two people with the same p_id in the organization, if there are records with the same p_id then it should be assumed that the person has updated their profile (designation) in the organization.

Input Format:

A dictionary is taken as input which then typecasted to a data frame and passed as an argument.
A string representing the name of employee whose record is to be deleted.
Output Format:

A data frame
Sample Input:


Mark
Sample Output:



Sample Explanation:

The second row with the name "Mark" is deleted, and column "p_id" is deleted. In the end, a data frame consisting of the employee's latest records (last occurrence) is returned. In the sample, it can be seen that "Sam" with "p_id" as 1 has multiple records therefore only his last record is preserved in the returned data frame.

Note:

Refer to drop_duplicates() documentation to see how to drop rows based on certain columns duplication

In [ ]:
import pandas as pd
def del_dupl(df,name):
    ''' df is a dataframe with columns ['Name', 'employment_type', 'department', 'p_id']
        name is a string.
        Output a dataframe is expected to be returned'''
        
    # YOUR CODE GOES HERE
    
    # delete the record with name
    df.drop( df.loc[df['Name']== name].index,inplace = True, axis = 0)
    # drop the column 'p_id'
    df.drop(['p_id'],inplace=True, axis=1)
    # drop the duplicates, preserving the last one with same name
    df.drop_duplicates(subset=['Name'],keep='last',inplace=True)
    return df

#### To consider multiple columns sorting
* df_sorted = df_filtered.sort_values(by=["Year","Population"],ascending=[True,True])

In [30]:
import pandas as pd  
df1 = pd.DataFrame({"name": ['tobey', 'peter', 'chris', 'pratt'],'chem_score':[10, 9, 8, 7], 'phy_score':[7, 8, 9, 10], 'Hindi_score':[9, 9, 9, 9]})  
df2 = pd.DataFrame({"name": ['chris', 'pratt', 'andrew', 'tom'],'chem_score':[10, 10, 10, 9], 'maths_score':[6, 6, 7, 9], 'eng_score':[9, 10, 10, 9]})

In [24]:
df1 = df[['name','chem_score']]['chem_score'].mean()
df1

9.125

In [43]:
mean1 = df1[['name','chem_score']]['chem_score'].agg('mean')
mean2 = df2[['name','chem_score']]['chem_score'].agg('mean')

mean_total= (mean2+mean1)/2.0
df_common = pd.merge(df1,df2,on='name')
l = list(df_common.drop(columns='name').mean(axis = 1 ))
l

[8.5, 8.666666666666666]

#Different columns from different data frames

users.rename(columns={"user_id":"id"},inplace=True)
users