In [1]:
logs = [["01-01-2023", "14:00", "ERROR", "failed"], ["01-01-2023", "15:00", "INFO", "established"], ["01-01-2023", "01:30", "ERROR", "failed"]]

In [10]:
import pandas as pd

df = pd.DataFrame(data=logs,columns=['date','time','log','status'])
df[df['status'] == 'failed'].sort_values(['date','time'])

         date   time    log  status
2  01-01-2023  01:30  ERROR  failed
0  01-01-2023  14:00  ERROR  failed

In [37]:


def log_day_month_year_extract (logs):
    date_list = []
    for i in logs:
        date = []
        date = i[0].split('-')
        year = date[2]
        month = date[1]
        day = date[0]
        time = i[1]
        log = i [2]
        status = i[3]
        date_list.append([day,month,year,time,log,status])
        #print(day +":"+month+":"+year)
    return date_list

def pick_failed_tasks(updated_logs):
    failed_logs = []
    for i in updated_logs:
        if i[-1] == 'failed':
            failed_logs.append(i)
    return failed_logs

def pick_sorted_failed_logs(failed_logs):
    df= pd.DataFrame(data=failed_logs)
    df.sort_values([2,1,1,3])
    return df
    


if __name__ == "__main__":
    updated_logs = log_day_month_year_extract(logs)
    failed_logs = pick_failed_tasks(updated_logs)
    sorted_failed_logs = pick_sorted_failed_logs(failed_logs)
    display(sorted_failed_logs)

    0   1     2      3      4       5
0  01  01  2023  14:00  ERROR  failed
1  01  01  2023  01:30  ERROR  failed