![Screenshot 2022-07-02 at 20.48.47.png]()

## Pandas
  - **Installation of pandas** 
    - Importing pandas
    - Importing the dataset 
    - Dataframe/Series
  
  - **Basic ops on a DataFrame** 
    - df.info()
    - df.head()
    - df.tail()
    - df.shape()
  - **Creating Dataframe from Scratch**

  - **Basic ops on columns** 
    - Different ways of accessing cols
    - Check for Unique values

    - Rename column
    - Deleting col

    - Creating new cols

  - **Basic ops on rows** 
    - Implicit/explicit index

    - df.index
    - Indexing in series
    - Slicing in series
    - loc/iloc 
    - Indexing/Slicing in dataframe     
    - Adding a row
    - Deleting a row  
    - Check for duplicates   


 - **Working with both rows and columns**    
 


- **More in-built ops in pandas**     
    - sum()     
    - count()     
    - mean()   

- **Sorting**

In [ ]:
#Shallow vs Deep copy

In [1]:
import numpy as np

In [2]:
a=np.arange(4)

In [3]:
a

array([0, 1, 2, 3])

In [4]:
b=a.reshape((2,2))
b

array([[0, 1],
       [2, 3]])

In [5]:
a[0]=100 #Shallow copy

In [6]:
a

array([100,   1,   2,   3])

In [7]:
b

array([[100,   1],
       [  2,   3]])

In [8]:
np.shares_memory(a,b)

True

In [9]:
a=np.arange(4)
a

array([0, 1, 2, 3])

In [10]:
c=a+2

In [11]:
c

array([2, 3, 4, 5])

In [12]:
a[0]=100
a

array([100,   1,   2,   3])

In [13]:
c

array([2, 3, 4, 5])

In [14]:
np.shares_memory(a,c)

False

In [15]:
a=np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
b=a.copy() #deep copy
b

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
np.shares_memory(a,b)

False

In [18]:
a[0]=100

In [19]:
a

array([100,   1,   2,   3,   4,   5,   6,   7,   8,   9])

In [20]:
b

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [21]:
c=np.array([1,"m",[1,2,3]])

/var/folders/bs/y1_q644n2msgp7741p7lt4480000gn/T/ipykernel_1120/1843714047.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  c=np.array([1,"m",[1,2,3]])

In [22]:
c

array([1, 'm', list([1, 2, 3])], dtype=object)

In [23]:
c=np.array([1,"m",[1,2,3]],dtype=object)

In [24]:
c

array([1, 'm', list([1, 2, 3])], dtype=object)

In [25]:
d=c.copy()

In [26]:
d

array([1, 'm', list([1, 2, 3])], dtype=object)

In [27]:
c[2][0]=100
c

array([1, 'm', list([100, 2, 3])], dtype=object)

In [28]:
d

array([1, 'm', list([100, 2, 3])], dtype=object)

In [29]:
np.shares_memory(c,d)

False

In [30]:
import copy

In [31]:
c=np.array([1,"m",[1,2,3]],dtype=object)
c

array([1, 'm', list([1, 2, 3])], dtype=object)

In [32]:
d=copy.deepcopy(c) #recommended for deep copy
d

array([1, 'm', list([1, 2, 3])], dtype=object)

In [33]:
c[2][0]=100
c

array([1, 'm', list([100, 2, 3])], dtype=object)

In [34]:
d

array([1, 'm', list([1, 2, 3])], dtype=object)

In [35]:
np.shares_memory(c,d)

False

In [36]:
#Shallow copy

In [37]:
a=np.arange(10)

In [38]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [39]:
view_a=a.view()
view_a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [40]:
a[2]=100
a

array([  0,   1, 100,   3,   4,   5,   6,   7,   8,   9])

In [41]:
view_a

array([  0,   1, 100,   3,   4,   5,   6,   7,   8,   9])

In [42]:
np.shares_memory(a,view_a)

True

In [43]:
#Pandas

In [44]:
!pip install pandas

Requirement already satisfied: pandas in /Users/ritnil/anaconda3/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ritnil/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ritnil/anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/ritnil/anaconda3/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /Users/ritnil/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [45]:
import pandas as pd

In [46]:
!gdown 1EPBLjW0O9rAKJgwNCSyLLFX86PdFL7Yg

Downloading...
From: https://drive.google.com/uc?id=1EPBLjW0O9rAKJgwNCSyLLFX86PdFL7Yg
To: /Users/ritnil/Scaler-cohorts/mckinsey.csv
100%|| 83.8k/83.8k [00:00<00:00, 608kB/s]

In [47]:
df=pd.read_csv("/Users/ritnil/Scaler-cohorts/mckinsey.csv")
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [48]:
type(df)

pandas.core.frame.DataFrame

In [49]:
df["country"] #recommended method to retrieve column

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [50]:
df.country #not recommended

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [51]:
type(df["country"])

pandas.core.series.Series

In [52]:
df.shape

(1704, 6)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [54]:
df.describe()

             year    population     life_exp        gdp_cap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [55]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [56]:
df.describe(include="all")

,country,year,population,continent,life_exp,gdp_cap
count,1704,1704.00000,1.704000e+03,1704,1704.000000,1704.000000
unique,142,NaN,NaN,5,NaN,NaN
top,Afghanistan,NaN,NaN,Africa,NaN,NaN
freq,12,NaN,NaN,624,NaN,NaN
mean,NaN,1979.50000,2.960121e+07,NaN,59.474439,7215.327081
std,NaN,17.26533,1.061579e+08,NaN,12.917107,9857.454543
min,NaN,1952.00000,6.001100e+04,NaN,23.599000,241.165876
25%,NaN,1965.75000,2.793664e+06,NaN,48.198000,1202.060309
50%,NaN,1979.50000,7.023596e+06,NaN,60.712500,3531.846988
75%,NaN,1993.25000,1.958522e+07,NaN,70.845500,9325.462346
max,NaN,2007.00000,1.318683e+09,NaN,82.603000,113523.132900

In [57]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [58]:
df.tail()

       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [59]:
df.head(-1)

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1698     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623

[1703 rows x 6 columns]

In [60]:
#Method1 : Creation of dataframes #Row-wise
df1=pd.DataFrame([["Afghanistan",1952,8425333,"Asia",28.801,779.445314],
              ["Afghanistan",1957,9240934,"Asia",30.332,820.853030],
              ["Afghanistan",1962,10267083,"Asia",31.997,853.100710]],
            columns=["country","year","population","continent","life_exp","gdp_cap"])

In [61]:
df1

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710

In [62]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [63]:
#Method2 : Creation of dataframes #Columnwise

In [64]:
df3=pd.DataFrame({"country":["Afghanistan","Afghanistan","Afghanistan"],
             "year":[1952,1957,1962],
             "population":[8425333,9240934,10267083],
             "continent":["Asia","Asia","Asia"],
             "life_exp":[28.801,30.332,31.997],
             "gdp_cap":[779.445314,820.853030,853.100710]})

In [65]:
df3

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710

#Outline

**Basic ops on columns

Different ways of accessing cols

Check for Unique values

Rename column

Deleting col

Creating new cols

In [66]:
df["country"]

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [67]:
df.country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [68]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [69]:
df.keys()

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [70]:
df["country"]

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [71]:
df["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [72]:
df["country"].nunique()

142

In [73]:
#Access multiple columns

In [74]:
df[["country","year"]].head()

       country  year
0  Afghanistan  1952
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967
4  Afghanistan  1972

In [75]:
df[("country","year")].head()

KeyError: ('country', 'year')

In [ ]:
type(df["country"])

In [ ]:
type(df[["country"]])

In [ ]:
df["country"].value_counts()

In [ ]:
df["continent"].value_counts()

In [ ]:
#Rename columns

In [ ]:
df.rename({"country":"Country"},axis=1)  #method 1

In [ ]:
df.rename({"country":"Country"},axis=0)

In [ ]:
df.rename({"country":"Country"},axis=1,inplace=True)

In [ ]:
df

In [ ]:
df.rename(columns={"year":"Year"},inplace=True) #method 2

In [ ]:
df

In [ ]:
df.rename(columns={"life_exp":"Life_exp",
                   "population":"Population",
                   "continent":"Continent"},inplace=True)

In [ ]:
df

In [ ]:
df.drop("Continent",axis=1)

In [ ]:
df.drop(columns=["Continent","Year"])

In [ ]:
df.drop(df.columns[-3],axis=1)

In [ ]:
df

In [ ]:
df.columns[0]

In [ ]:
#Create new column

In [ ]:
df["Year+7"] = df["Year"]+7
df

In [ ]:
df["Year + gdp_cap"] =  ( df["Year"] + df["Life_exp"] )*2
df

In [ ]:
df["own"]=[i for i in range(1,1705)]
df

# working with rows
  - **Basic ops on rows** 
    - Implicit/explicit index

    - df.index
    - Indexing in series
    - Slicing in series
    - loc/iloc      
    - Indexing/Slicing in dataframe
    - Adding a row
    - Deleting a row
    - Check for duplicates

In [ ]:
df

In [ ]:
df[0]

In [ ]:
df.index

In [ ]:
df.index[0]

In [ ]:
df2=df.head(5)
df2

In [ ]:
df2.index

In [ ]:
df2.index=[1,2,3,4,5] #integers

In [ ]:
df2

In [ ]:
df2.index[0]

In [ ]:
df2.index=[1.0,2.0,3.0,4.0,5.0]

In [ ]:
df2

In [ ]:
df2.index=['a','b','c','d','e']

In [ ]:
df2

In [ ]:
ser=pd.Series(['a','b','c','d','e','f','g','h'])

In [ ]:
ser

In [ ]:
ser2=pd.Series(['a','b','c','d','e','f','g','h'],index=[1,2,3,4,5,6,7,8])
ser2

In [ ]:
ser

In [ ]:
ser[0] #indexing

In [ ]:
ser[2:6] #slicing

In [ ]:
ser2

In [ ]:
ser2[1] #indexing works with explicit

In [ ]:
ser2[0]

In [ ]:
ser2

In [ ]:
ser2[3:7] #slicing takes implicit

In [ ]:
ser

In [ ]:
# ser.loc[] # always take explicit #it will include the end value in slicing

# ser.iloc[] # integer based locking is iloc. #always takes implicit

In [ ]:
ser.iloc[4]

In [ ]:
ser.iloc[2:6]

In [ ]:
ser

In [ ]:
ser.loc[4]

In [ ]:
ser.loc[2:6]

In [ ]:
ser2

In [ ]:
ser2.loc[2]

In [ ]:
ser2.loc[2:6]

In [ ]:
ser2

In [ ]:
ser2.iloc[1]

In [ ]:
ser2.iloc[2:6]

In [ ]:
ser3=pd.Series(['a','b','c','d','e','f','g','h'],index=['b','c','d','e','f','g','h',"i"])

In [ ]:
ser3

In [ ]:
ser3.loc["e"]

In [ ]:
ser3.iloc[3]

In [ ]:
ser3.loc["c":"h"]

In [ ]:
ser3.loc["c":"h":2]

In [ ]:
ser3

In [ ]:
ser3.iloc[1:7]

In [76]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [77]:
df2

NameError: name 'df2' is not defined

In [78]:
df2.index=[1,2,3,4,5]
df2

NameError: name 'df2' is not defined

In [79]:
df.shape[0]

1704

In [80]:
import numpy as np
df.index = np.arange(1,df.shape[0]+1,dtype="int")

In [81]:
df.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704],
           dtype='int64', length=1704)

In [82]:
df

          country  year  population continent  life_exp     gdp_cap
1     Afghanistan  1952     8425333      Asia    28.801  779.445314
2     Afghanistan  1957     9240934      Asia    30.332  820.853030
3     Afghanistan  1962    10267083      Asia    31.997  853.100710
4     Afghanistan  1967    11537966      Asia    34.020  836.197138
5     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1704     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [83]:
df.index = np.arange(1,df.shape[0]+1,dtype="float")

In [84]:
df.index

Float64Index([   1.0,    2.0,    3.0,    4.0,    5.0,    6.0,    7.0,    8.0,
                 9.0,   10.0,
              ...
              1695.0, 1696.0, 1697.0, 1698.0, 1699.0, 1700.0, 1701.0, 1702.0,
              1703.0, 1704.0],
             dtype='float64', length=1704)

In [85]:
df.loc[1]

country       Afghanistan
year                 1952
population        8425333
continent            Asia
life_exp           28.801
gdp_cap        779.445314
Name: 1.0, dtype: object

In [86]:
df.loc[1:3]

         country  year  population continent  life_exp     gdp_cap
1.0  Afghanistan  1952     8425333      Asia    28.801  779.445314
2.0  Afghanistan  1957     9240934      Asia    30.332  820.853030
3.0  Afghanistan  1962    10267083      Asia    31.997  853.100710

In [87]:
df.iloc[0]

country       Afghanistan
year                 1952
population        8425333
continent            Asia
life_exp           28.801
gdp_cap        779.445314
Name: 1.0, dtype: object

In [88]:
df.loc[-1]

KeyError: -1

In [ ]:
df.iloc[-1]

In [ ]:
temp= df.set_index("Country")
temp

In [ ]:
temp.loc["Afghanistan"]

In [ ]:
temp3=temp.reset_index()

In [ ]:
temp3

In [ ]:
new_row= {"country":"India",  
         "year":2022,
         "population":1400000000,
         "continent":"Asia",
         "life_exp":60,
         "gdp_cap":900,
         }
new_row

In [ ]:
df=df.append(new_row,ignore_index=True)

In [ ]:
df

In [ ]:
df.loc[1704]=["India",2020,1400000000,"Asia",60.0,900.0]

In [ ]:
df

In [89]:
df.iloc[1704]=["India",2022,1400000000,"Asia",60.0,900.0]

IndexError: iloc cannot enlarge its target object

In [90]:
df

            country  year  population continent  life_exp     gdp_cap
1.0     Afghanistan  1952     8425333      Asia    28.801  779.445314
2.0     Afghanistan  1957     9240934      Asia    30.332  820.853030
3.0     Afghanistan  1962    10267083      Asia    31.997  853.100710
4.0     Afghanistan  1967    11537966      Asia    34.020  836.197138
5.0     Afghanistan  1972    13079460      Asia    36.088  739.981106
...             ...   ...         ...       ...       ...         ...
1700.0     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701.0     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702.0     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703.0     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1704.0     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [91]:
#delete row

In [92]:
df.drop(1704,inplace=True)

In [93]:
df

            country  year  population continent  life_exp     gdp_cap
1.0     Afghanistan  1952     8425333      Asia    28.801  779.445314
2.0     Afghanistan  1957     9240934      Asia    30.332  820.853030
3.0     Afghanistan  1962    10267083      Asia    31.997  853.100710
4.0     Afghanistan  1967    11537966      Asia    34.020  836.197138
5.0     Afghanistan  1972    13079460      Asia    36.088  739.981106
...             ...   ...         ...       ...       ...         ...
1699.0     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1700.0     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701.0     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702.0     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703.0     Zimbabwe  2002    11926563    Africa    39.989  672.038623

[1703 rows x 6 columns]

In [94]:
df.loc[df.shape[0]]=["Sri Lanka",2022,140,"Asia",62,300]
df.loc[df.shape[0]]=["Sri Lanka",2022,140,"Asia",62,300]
df.loc[df.shape[0]]=["Sri Lanka",2022,140,"Asia",62,300]

In [95]:
df

            country  year  population continent  life_exp     gdp_cap
1.0     Afghanistan  1952     8425333      Asia    28.801  779.445314
2.0     Afghanistan  1957     9240934      Asia    30.332  820.853030
3.0     Afghanistan  1962    10267083      Asia    31.997  853.100710
4.0     Afghanistan  1967    11537966      Asia    34.020  836.197138
5.0     Afghanistan  1972    13079460      Asia    36.088  739.981106
...             ...   ...         ...       ...       ...         ...
1699.0     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1700.0     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701.0     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702.0     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703.0    Sri Lanka  2022         140      Asia    62.000  300.000000

[1703 rows x 6 columns]

In [96]:
df.tail()

          country  year  population continent  life_exp     gdp_cap
1699.0   Zimbabwe  1982     7636524    Africa    60.363  788.855041
1700.0   Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701.0   Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702.0   Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703.0  Sri Lanka  2022         140      Asia    62.000  300.000000

In [97]:
df.duplicated().tail(10)

1694.0    False
1695.0    False
1696.0    False
1697.0    False
1698.0    False
1699.0    False
1700.0    False
1701.0    False
1702.0    False
1703.0    False
dtype: bool

In [98]:
df.drop_duplicates(keep="first").tail(10) #first #last

          country  year  population continent  life_exp     gdp_cap
1694.0   Zimbabwe  1957     3646340    Africa    50.469  518.764268
1695.0   Zimbabwe  1962     4277736    Africa    52.358  527.272182
1696.0   Zimbabwe  1967     4995432    Africa    53.995  569.795071
1697.0   Zimbabwe  1972     5861135    Africa    55.635  799.362176
1698.0   Zimbabwe  1977     6642107    Africa    57.674  685.587682
1699.0   Zimbabwe  1982     7636524    Africa    60.363  788.855041
1700.0   Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701.0   Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702.0   Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703.0  Sri Lanka  2022         140      Asia    62.000  300.000000

# Working with both rows and columns

In [100]:
df

            country  year  population continent  life_exp     gdp_cap
1.0     Afghanistan  1952     8425333      Asia    28.801  779.445314
2.0     Afghanistan  1957     9240934      Asia    30.332  820.853030
3.0     Afghanistan  1962    10267083      Asia    31.997  853.100710
4.0     Afghanistan  1967    11537966      Asia    34.020  836.197138
5.0     Afghanistan  1972    13079460      Asia    36.088  739.981106
...             ...   ...         ...       ...       ...         ...
1699.0     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1700.0     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1701.0     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702.0     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1703.0    Sri Lanka  2022         140      Asia    62.000  300.000000

[1703 rows x 6 columns]

In [101]:
df.index = np.arange(2,df.shape[0]+2,dtype="int")

In [102]:
df

          country  year  population continent  life_exp     gdp_cap
2     Afghanistan  1952     8425333      Asia    28.801  779.445314
3     Afghanistan  1957     9240934      Asia    30.332  820.853030
4     Afghanistan  1962    10267083      Asia    31.997  853.100710
5     Afghanistan  1967    11537966      Asia    34.020  836.197138
6     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1701     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1702     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1703     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1704    Sri Lanka  2022         140      Asia    62.000  300.000000

[1703 rows x 6 columns]

In [103]:
df.loc[2,"country"]

'Afghanistan'

In [104]:
df.iloc[0,0]

'Afghanistan'

In [106]:
df.loc[3:5,["country"]]

       country
3  Afghanistan
4  Afghanistan
5  Afghanistan

In [105]:
df

          country  year  population continent  life_exp     gdp_cap
2     Afghanistan  1952     8425333      Asia    28.801  779.445314
3     Afghanistan  1957     9240934      Asia    30.332  820.853030
4     Afghanistan  1962    10267083      Asia    31.997  853.100710
5     Afghanistan  1967    11537966      Asia    34.020  836.197138
6     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1701     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1702     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1703     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1704    Sri Lanka  2022         140      Asia    62.000  300.000000

[1703 rows x 6 columns]

In [107]:
df.iloc[3:5,0:4]

       country  year  population continent
5  Afghanistan  1967    11537966      Asia
6  Afghanistan  1972    13079460      Asia

In [108]:
df

          country  year  population continent  life_exp     gdp_cap
2     Afghanistan  1952     8425333      Asia    28.801  779.445314
3     Afghanistan  1957     9240934      Asia    30.332  820.853030
4     Afghanistan  1962    10267083      Asia    31.997  853.100710
5     Afghanistan  1967    11537966      Asia    34.020  836.197138
6     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1701     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1702     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1703     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1704    Sri Lanka  2022         140      Asia    62.000  300.000000

[1703 rows x 6 columns]

In [110]:
df.loc[3:10:2,"country":"life_exp":2]

       country  population  life_exp
3  Afghanistan     9240934    30.332
5  Afghanistan    11537966    34.020
7  Afghanistan    14880372    38.438
9  Afghanistan    13867957    40.822

In [111]:
df

          country  year  population continent  life_exp     gdp_cap
2     Afghanistan  1952     8425333      Asia    28.801  779.445314
3     Afghanistan  1957     9240934      Asia    30.332  820.853030
4     Afghanistan  1962    10267083      Asia    31.997  853.100710
5     Afghanistan  1967    11537966      Asia    34.020  836.197138
6     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1701     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1702     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1703     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1704    Sri Lanka  2022         140      Asia    62.000  300.000000

[1703 rows x 6 columns]

In [112]:
df.iloc[1:10:2,0::2]

        country  population  life_exp
3   Afghanistan     9240934    30.332
5   Afghanistan    11537966    34.020
7   Afghanistan    14880372    38.438
9   Afghanistan    13867957    40.822
11  Afghanistan    22227415    41.763

In [113]:
df

          country  year  population continent  life_exp     gdp_cap
2     Afghanistan  1952     8425333      Asia    28.801  779.445314
3     Afghanistan  1957     9240934      Asia    30.332  820.853030
4     Afghanistan  1962    10267083      Asia    31.997  853.100710
5     Afghanistan  1967    11537966      Asia    34.020  836.197138
6     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1701     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1702     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1703     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1704    Sri Lanka  2022         140      Asia    62.000  300.000000

[1703 rows x 6 columns]

In [114]:
df.iloc[1:10:2,::-1]

       gdp_cap  life_exp continent  population  year      country
3   820.853030    30.332      Asia     9240934  1957  Afghanistan
5   836.197138    34.020      Asia    11537966  1967  Afghanistan
7   786.113360    38.438      Asia    14880372  1977  Afghanistan
9   852.395945    40.822      Asia    13867957  1987  Afghanistan
11  635.341351    41.763      Asia    22227415  1997  Afghanistan

In [115]:
df

          country  year  population continent  life_exp     gdp_cap
2     Afghanistan  1952     8425333      Asia    28.801  779.445314
3     Afghanistan  1957     9240934      Asia    30.332  820.853030
4     Afghanistan  1962    10267083      Asia    31.997  853.100710
5     Afghanistan  1967    11537966      Asia    34.020  836.197138
6     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1701     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1702     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1703     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1704    Sri Lanka  2022         140      Asia    62.000  300.000000

[1703 rows x 6 columns]

In [ ]:
df.loc[10:3:-1,["country","year"]]

In [116]:
df.head(10)

        country  year  population continent  life_exp     gdp_cap
2   Afghanistan  1952     8425333      Asia    28.801  779.445314
3   Afghanistan  1957     9240934      Asia    30.332  820.853030
4   Afghanistan  1962    10267083      Asia    31.997  853.100710
5   Afghanistan  1967    11537966      Asia    34.020  836.197138
6   Afghanistan  1972    13079460      Asia    36.088  739.981106
7   Afghanistan  1977    14880372      Asia    38.438  786.113360
8   Afghanistan  1982    12881816      Asia    39.854  978.011439
9   Afghanistan  1987    13867957      Asia    40.822  852.395945
10  Afghanistan  1992    16317921      Asia    41.674  649.341395
11  Afghanistan  1997    22227415      Asia    41.763  635.341351

In [117]:
df

          country  year  population continent  life_exp     gdp_cap
2     Afghanistan  1952     8425333      Asia    28.801  779.445314
3     Afghanistan  1957     9240934      Asia    30.332  820.853030
4     Afghanistan  1962    10267083      Asia    31.997  853.100710
5     Afghanistan  1967    11537966      Asia    34.020  836.197138
6     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1701     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1702     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1703     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1704    Sri Lanka  2022         140      Asia    62.000  300.000000

[1703 rows x 6 columns]

In [118]:
df.loc[10:3:-1,"continent":"country":-1]

   continent  population  year      country
10      Asia    16317921  1992  Afghanistan
9       Asia    13867957  1987  Afghanistan
8       Asia    12881816  1982  Afghanistan
7       Asia    14880372  1977  Afghanistan
6       Asia    13079460  1972  Afghanistan
5       Asia    11537966  1967  Afghanistan
4       Asia    10267083  1962  Afghanistan
3       Asia     9240934  1957  Afghanistan

In [119]:
df

          country  year  population continent  life_exp     gdp_cap
2     Afghanistan  1952     8425333      Asia    28.801  779.445314
3     Afghanistan  1957     9240934      Asia    30.332  820.853030
4     Afghanistan  1962    10267083      Asia    31.997  853.100710
5     Afghanistan  1967    11537966      Asia    34.020  836.197138
6     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1701     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1702     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1703     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1704    Sri Lanka  2022         140      Asia    62.000  300.000000

[1703 rows x 6 columns]

In [120]:
df.iloc[1:10:2, [1,2]]

    year  population
3   1957     9240934
5   1967    11537966
7   1977    14880372
9   1987    13867957
11  1997    22227415

In [121]:
df

          country  year  population continent  life_exp     gdp_cap
2     Afghanistan  1952     8425333      Asia    28.801  779.445314
3     Afghanistan  1957     9240934      Asia    30.332  820.853030
4     Afghanistan  1962    10267083      Asia    31.997  853.100710
5     Afghanistan  1967    11537966      Asia    34.020  836.197138
6     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1701     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1702     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1703     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1704    Sri Lanka  2022         140      Asia    62.000  300.000000

[1703 rows x 6 columns]

In [122]:
df.iloc[1:10:2, [1,5,2]]

    year     gdp_cap  population
3   1957  820.853030     9240934
5   1967  836.197138    11537966
7   1977  786.113360    14880372
9   1987  852.395945    13867957
11  1997  635.341351    22227415

In [ ]:
#uFuncs

In [123]:
df["life_exp"].mean()

59.49675201409277

In [124]:
df["life_exp"].sum()

101322.96867999999

In [125]:
df.describe()

              year    population     life_exp        gdp_cap
count  1703.000000  1.703000e+03  1703.000000    1703.000000
mean   1979.495596  2.960436e+07    59.496752    7219.069641
std      17.279647  1.061898e+08    12.906575    9859.142662
min    1952.000000  1.400000e+02    23.599000     241.165876
25%    1964.500000  2.785708e+06    48.248000    1204.122413
50%    1977.000000  7.021028e+06    60.770000    3533.003910
75%    1992.000000  1.959366e+07    70.846000    9325.856454
max    2022.000000  1.318683e+09    82.603000  113523.132900

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1703 entries, 2 to 1704
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1703 non-null   object
 1   year        1703 non-null   int64
 2   population  1703 non-null   int64
 3   continent   1703 non-null   object
 4   life_exp    1703 non-null   float64
 5   gdp_cap     1703 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 157.7+ KB

In [127]:
#sorting

In [128]:
df.sort_values(by=["gdp_cap"])

               country  year  population continent  life_exp        gdp_cap
336   Congo, Dem. Rep.  2002    55379852    Africa    44.966     241.165876
337   Congo, Dem. Rep.  2007    64606759    Africa    46.462     277.551859
878            Lesotho  1952      748747    Africa    42.138     298.846212
626      Guinea-Bissau  1952      580653    Africa    32.500     299.850319
1704         Sri Lanka  2022         140      Asia    62.000     300.000000
...                ...   ...         ...       ...       ...            ...
857             Kuwait  1967      575003      Asia    64.624   80894.883260
856             Kuwait  1962      358266      Asia    60.470   95458.111760
854             Kuwait  1952      160000      Asia    55.565  108382.352900
858             Kuwait  1972      841934      Asia    67.712  109347.867000
855             Kuwait  1957      212846      Asia    58.033  113523.132900

[1703 rows x 6 columns]

In [129]:
df.sort_values(by=["gdp_cap"],ascending=False)

               country  year  population continent  life_exp        gdp_cap
855             Kuwait  1957      212846      Asia    58.033  113523.132900
858             Kuwait  1972      841934      Asia    67.712  109347.867000
854             Kuwait  1952      160000      Asia    55.565  108382.352900
856             Kuwait  1962      358266      Asia    60.470   95458.111760
857             Kuwait  1967      575003      Asia    64.624   80894.883260
...                ...   ...         ...       ...       ...            ...
1704         Sri Lanka  2022         140      Asia    62.000     300.000000
626      Guinea-Bissau  1952      580653    Africa    32.500     299.850319
878            Lesotho  1952      748747    Africa    42.138     298.846212
337   Congo, Dem. Rep.  2007    64606759    Africa    46.462     277.551859
336   Congo, Dem. Rep.  2002    55379852    Africa    44.966     241.165876

[1703 rows x 6 columns]

In [131]:
df.sort_values(by=["year","life_exp"]).head(20)

,country,year,population,continent,life_exp,gdp_cap
2,Afghanistan,1952,8425333,Asia,28.801,779.445314
554,Gambia,1952,284320,Africa,30.000,485.230659
38,Angola,1952,4232095,Africa,30.015,3520.610273
1346,Sierra Leone,1952,2143249,Africa,30.331,879.787736
1034,Mozambique,1952,6446316,Africa,31.286,468.526038
194,Burkina Faso,1952,4469979,Africa,31.975,543.255241
626,Guinea-Bissau,1952,580653,Africa,32.500,299.850319
1670,"Yemen, Rep.",1952,4963829,Asia,32.548,781.717576
1394,Somalia,1952,2526994,Africa,32.978,1135.749842
614,Guinea,1952,2664249,Africa,33.609,510.196492
950,Mali,1952,3838168,Africa,33.685,452.336981
506,Ethiopia,1952,20860941,Africa,34.078,362.146280
482,Equatorial Guinea,1952,216964,Africa,34.482,375.643123
422,Djibouti,1952,63149,Africa,34.812,2669.529475
254,Central African Republic,1952,1291695,Africa,35.463,1071.310713
494,Eritrea,1952,1438760,Africa,35.928,328.940557
1070,Nepal,1952,9182536,Asia,36.157,545.865723
926,Malawi,1952,2917802,Africa,36.256,369.165080
1046,Myanmar,1952,20092996,Asia,36.319,331.000000
1130,Nigeria,1952,33119096,Africa,36.324,1077.281856

In [133]:
df.sort_values(by=["year","life_exp"],ascending=[1,0])

           country  year  population continent  life_exp       gdp_cap
1142        Norway  1952     3327728    Europe    72.670  10095.421720
686        Iceland  1952      147962    Europe    72.490   7267.688428
1082   Netherlands  1952    10381988    Europe    72.130   8941.571858
1466        Sweden  1952     7124673    Europe    71.860   8527.844662
410        Denmark  1952     4334000    Europe    70.780   9692.385245
...            ...   ...         ...       ...       ...           ...
1357  Sierra Leone  2007     6144562    Africa    42.568    862.540756
1693        Zambia  2007    11746035    Africa    42.384   1271.211593
1045    Mozambique  2007    19951656    Africa    42.082    823.685621
1465     Swaziland  2007     1133066    Africa    39.613   4513.480643
1704     Sri Lanka  2022         140      Asia    62.000    300.000000

[1703 rows x 6 columns]